.tab {
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
  height: 100%;
  font-family: var(--font-family-mono);
  font-size: 0.8rem;
  color: var(--color-foreground);
  cursor: pointer;
  position: relative;
  border-right: 1px solid var(--color-current-line);
  transition: background-color 0.2s ease;
  color: var(--color-foreground);
  text-decoration: none;
}

.tab > * {
  position: relative;
  z-index: 1;
}

.tab.active {
  background-color: var(--color-background);
  border-top: 2px solid var(--color-pink);
}
