.tabbar {
  display: flex;
  background-color: var(--color-background-secondary);
  justify-content: space-between;
  align-items: center;
  height: 35px;
  position: relative;
}
.tabs {
  display: flex;
  height: 100%;
}
